/* Styling for the sidebar */
.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: skyblue;
    display: block;
    padding: 20px;
}

/* Styling for the content */
.content {
    margin-left: 300px;
    /* Adjust this to match the width of the sidebar */
    padding: 20px;
}


/* Style the dropdown container */

.dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

/* Style the dropdown content */
.dropdown-content {
    display: none;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
    color: skyblue;
    padding: 10px;
    text-decoration: none;
    display: block;
    border:1px;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: inline-block;
}

/* add-customer-detail div */

#add-customer-detail {
    font-size: large;
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(240, 240, 240);
}

#add-food-item {
    font-size: large;
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(240, 240, 240);
}

#add-customer,#add-food {
    background-color: rgb(255, 255, 255);
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 15px;
}


table td {
    padding-right: 180px;
}

input[type="text"],
textarea {
    width: 200%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

select {
    width: 212%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}
#add-customer-submit,#add-food-submit {
    
    background-color: rgb(56, 205, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* add-customer-detail div */